body {
  font-family: var(--font-lalezar);
  background-color: rgba(7, 43, 195, 0.7);
}

.textBody {
  color: white;
  transform: rotate(-4deg);
  margin-top: 10%;
  margin-left: -3%;
}

.textBody h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: -110px;
  left: 400px;
  font-size: 100px;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  height: 35%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.contacts a {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 30px;
  font-size: 40px;
  margin-left: 5%;
  font-weight: bold;
  color: black;
}

.emailIcon {
  width: 72px;
  height: 72px;
  background-image: url('/emailIcon.png');
  background-size: cover;
}

.githubIcon {
  width: 72px;
  height: 72px;
  background-image: url('/github.png');
  background-size: cover;
}

.linkedInIcon {
  width: 72px;
  height: 72px;
  background-image: url('/linkedin.png');
  background-size: cover;
}
