:root {
  --background: #ffffff;
  --foreground: #171717;
  --p3r-blue: rgba(7, 43, 195, 0.7);
  --p3r-navy: rgba(8, 7, 67, 0.97);
  --p3r-cyan: rgba(0, 232, 255, 1);
  --p3r-pink: #FDA4F7;
  --p3r-light-blue: rgba(123, 210, 248, 1);
  --p3r-mid-blue: rgba(112, 162, 255, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
