.page {
  font-family: var(--font-lalezar);
}

.name {
  position: fixed;
  left: -3%;
  top: 0%;
  font-size: 100px;
  z-index: 10;
}

.name h1 {
  font-size: 13rem;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.backgroundCircle {
  width: 1558px;
  height: 1200px;
  border-radius: 50%;
  background-color: rgba(8, 7, 67, 0.97);
  position: absolute;
  right: -11.1%;
  top: -20%;
  overflow: hidden;
}

.foregroundCircle {
  width: 1423px;
  height: 1200px;
  background-color: rgba(7, 43, 195, 0.7);
  border-radius: 50%;
  position: absolute;
  right: -10%;
  top: -20%;
  overflow: hidden;
}

.projectList .links {
  font-size: 75px;
  font-weight: bolder;
  position: absolute;
  right: 22%;
  top: 20%;
  line-height: 1.5;
}

.projectList ul {
  text-align: center;
  list-style-type: none;
}

.projectList .links li {
  z-index: 10;
}

.projects {
  transform: rotate(2deg);
  margin-bottom: 50px;
}

.about {
  transform: rotate(-10deg);
  margin-bottom: 50px;
  color: rgba(123, 210, 248, 1);
}

.contact {
  transform: rotate(5deg);
  color: rgba(112, 162, 255, 1);
}

.home {
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 35%;
  bottom: 12%;
  width: 400px;
  height: 200px;
  z-index: 5;
}
