.page {
  font-family: var(--font-lalezar);
  display: flex;
}

.name {
  position: relative;
  left: -3%;
  top: 0%;
  font-size: 100px;
}

.name h1 {
  font-size: 19vh;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.backgroundCircle {
  width: 90vw;
  height: 85vw;
  border-radius: 50%;
  background-color: rgba(8, 7, 67, 0.97);
  position: absolute;
  right: -21.4%;
  top: -65%;
  overflow: hidden;
}

.foregroundCircle {
  width: 85vw;
  height: 85vw;
  background-color: rgba(7, 43, 195, 0.7);
  border-radius: 50%;
  position: absolute;
  right: -20%;
  top: -65%;
  overflow: hidden;
}

.projectList .links {
  font-size: 75px;
  width: 500px;
  font-weight: bolder;
  position: relative;
  right: -30%;
  top: 55%;
  line-height: 1.5;
  z-index: 10;
}

.projectList ul {
  text-align: center;
  list-style-type: none;
}

.projectList .links li {
  position: relative;
}


.projects {
  transform: rotate(2deg);
  margin-bottom: 50px;
  color: rgba(0, 232, 255, 1);
}

.about {
  transform: rotate(-10deg);
  margin-bottom: 50px;
  color: rgba(123, 210, 248, 1);
}

.contact {
  transform: rotate(5deg);
  color: rgba(112, 162, 255, 1);
}

.activeLink {
  color: black;
}


@media screen and (max-width: 600px) {}
