.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-lalezar);
}

.name {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}

.name h1 {
  font-size: clamp(80px, 19vh, 200px);
  font-weight: bolder;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.projectList {
  position: absolute;
  inset: 0;
}

.moonContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 85vw;
  height: 85vw;
  margin-right: -35vw;
}

.backgroundCircle {
  position: absolute;
  width: 105%;
  height: 102%;
  top: -1%;
  left: -3%;
  border-radius: 50%;
  background-color: rgba(8, 7, 67, 0.97);
}

.foregroundCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 43, 195, 0.7);
  border-radius: 50%;
}

.links {
  font-size: clamp(40px, 5vw, 75px);
  font-weight: bolder;
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-40%);
  line-height: 1.5;
  z-index: 10;
}

.links ul {
  text-align: center;
  list-style-type: none;
}

.links li {
  position: relative;
  transition: color 0.2s ease, transform 0.2s ease;
}

.projects {
  transform: rotate(2deg);
  margin-bottom: clamp(20px, 3vw, 50px);
  color: rgba(0, 232, 255, 1);
}

.about {
  transform: rotate(-10deg);
  margin-bottom: clamp(20px, 3vw, 50px);
  color: rgba(123, 210, 248, 1);
}

.contact {
  transform: rotate(5deg);
  color: rgba(112, 162, 255, 1);
}

.activeLink {
  color: black;
  transform: scale(1.05);
}

.projects.activeLink {
  transform: rotate(2deg) scale(1.05);
}

.about.activeLink {
  transform: rotate(-10deg) scale(1.05);
}

.contact.activeLink {
  transform: rotate(5deg) scale(1.05);
}
